.env
.env*
*.log
public/
.cache/
.DS_Store
src/.DS_Store
logs/
npm-debug.log
yarn-debug.log
yarn-error.log
node_modules/
*.tgz
.npm
.eslintcache
.editorconfig
.nvmrc
.prettierrc.js
.yarn-integrity
.vscode

