.gallery-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 65px;
  margin: 0 20px;
  grid-auto-rows: 200px 200px;
  grid-gap: 10px;
  grid-auto-flow: dense;

  @media screen and (max-width:500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}