.gallery-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 10px;
  grid-auto-rows: 200px 300px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}

.w-3 {
  grid-column: span 3;
}

.w-4 {
  grid-column: span 4;
}

.w-5 {
  grid-column: span 5;
}

.w-6 {
  grid-column: span 6;
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.h-3 {
  grid-row: span 3;
}

.h-4 {
  grid-row: span 4;
}

.h-5 {
  grid-row: span 5;
}

.h-6 {
  grid-row: span 6;
}

@media screen and (max-width: 500px) {
  .gallery-container {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 300px;
  }
  .w-1,.w-2,.w-3,.w-4,.w-5,.w-6 {
    grid-column: span 1;
  }
  .h-1,.h-2,.h-3,.h-4,.h-5,.h-6 {
    grid-row: span 1;
  }
}