@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import './components/layout/header/header';
@import './components/layout/header/media';
@import './components/layout/header/animations';
@import './pages/gallery';
@import './pages/about';
@import './pages/contact';
@import './components/galleryItem';
@import './variables';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: $body-background;
}

body, h1 {
  font-family: 'Montserrat', 'san-serif';
  color: $text-color;
}

h1 {
  margin: 40px 0;
}

.page-container {
  padding-top: 65px;
  margin: 0 auto;
}

canvas {
  display: block;
  margin: 0 auto;
}

a {
  color: white;
}

