@import '../../../variables';

.main-header {
  background-color: $header-background;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100vw;
  padding: 0 10vw;
  color: $text-color;
  z-index: 1;
  transition: .4s ease-out;

  .logo {
    width: 40px;
    height: 40px;
    
    img {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }

  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;

    .nav-link {
      margin-bottom: 0;
      transition:
        opacity .4s ease-in-out,
        transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &:nth-of-type(2) {
          transition-delay: 0.1s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.2s;
        }
        &:nth-of-type(4) {
          transition-delay: 0.3s;
        }

      a {
        margin: .2rem;
        padding: 1rem .5rem;
      }
      a:hover {
        background: rgba(255,255,255, 0.2);
      }
    }
  }

  .menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 1;
    display: none;

    &__line {
      display: block;
      position: relative;
      background: $text-color;
      height: 2px;
      width: 20px;
      border-radius: 4px;

      &::before, &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background: $text-color;
        transition: background .8s ease;
      }

      &::before {
        transform: translateY(-5px);
      }
      &::after {
        transform: translateY(5px);
      }
    }
  }
  .menu-btn {
    position: absolute;
    top: -100px;
    &:focus ~ .menu-icon {
      .menu-icon__line {
        &::before {
          transform: translateY(-7px);
        }
        &::after {
          transform: translateY(7px);
        }
      }
    }
  }

  &.scrolled {
    height: 50px;
    background: rgba(0, 0, 0, 0.9);
    color: $text-color;

    .menu-icon {
      &__line,
      &__line::before,
      &__line::after {
        background: $text-color;
      }
    }
  }
}