.hero {
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
  color: #fff;

  h1 {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 20px 0;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 50%;
    }

    &::before {
      left: 0;
      border-bottom: 6px solid #000;
    }

    &::after {
      right: 0;
      border-top: 6px solid #000;
    }
  }
}