@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'header';
@import 'media';
@import 'animations';
@import 'gallery';
@import 'galleryItem';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', 'san-serif';
}

.container {
  width: 80%;
  margin: 0 auto;
}

