@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'styles/components/layout/header/header';
@import 'styles/components/layout/header/media';
@import 'styles/components/layout/header/animations';
@import 'styles/pages/gallery';
@import 'styles/components/galleryItem';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', 'san-serif';
}

.container {
  width: 80%;
  margin: 0 auto;
}

